.Butoon {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    
    padding: 25px;
    
    
   }

.Button {
    color: #000;
    border: inset;
    margin: 50px;
    /* padding: 25px; */
   }