
.Card {
    background-color: #fff; 
 }

section figure {
    width: 80%;
    height: 150px;
    background-color: black;
    display: flex;
}

ul{
    display: flex;
    flex-wrap: wrap;
    width: 931px;
    justify-content: space-around;
    text-align: center;
    background-color: #D1D0B6; 

    
}

.Card {
    width: 200px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #00000080; 
    margin: 10px;
    
}

p{
    text-align: center;
}

.Button{
    color: #000;
    border: inset;
}